
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Campaign Management</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="background-color: #ccccff">
    <div>
        <div id="menu">
            <ul>
                <li><img src="~/Images/logo.png" width="64" height="64" /></li>
                <li><a href="@Url.Action("Dashboard","Main")"><i class="fas fa-home"></i><br />Dashboard</a></li>
                <li><a href="@Url.Action("CampaignManagement","Main")"><i class="fas fa-tags"></i><br />Campaign</a></li>

                <li>
                    <a href="#"><i class="fas fa-gift"></i><br />Gift <i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li><a href="@Url.Action("ListOfGeneratedGifts","Main")">List of Generated Gifts</a></li>
                        <li><a href="@Url.Action("GiftsCategory","Main")">Gifts Category</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="fas fa-user"></i><br />Customer</a></li>
                <li><a href="#"><i class="fas fa-gear"></i><br />Setting</a></li>
            </ul>
        </div>
        <div class="search-text">
            <input type="search" name="Tìm kiếm" placeholder="Search..." />
            <a href="#" class="search-button">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div id="title1">
            <h6>&nbsp;<i class="fas fa-home"><span style="color:#6600cc"> Dashboard</span>&nbsp;/ Campaigns Management</i></h6>
        </div>

        <div id="B">
            <div id="title2">
                <h5>&nbsp;<i class="fas fa-tags"> Campaigns</i></h5>
            </div>
            <div id="createcp">
                <a href="@Url.Action("CreateCampaignProgramSize","Main")" style="color: #ff3333"><i class="fas fa-plus-circle fa-2x"></i></a>
            </div>
        </div>
        <br />
        <div id="filter">
            <select id="select2">
                <option>Match all filters</option>
                <option>Match any filters</option>
            </select>
            <br />
            <select id="select3">
                <option disabled selected>Search criteria</option>
                <option>Campaign Name</option>
                <option>Create Date</option>
                <option>Expired Date</option>
            </select>
            <br />
            <select id="select4">
                <option disabled selected>Condition...</option>
                <option id="opt1">Program type is Gift Card</option>
                <option id="opt2">Start date is more than 1 month</option>
            </select>
            <br />
            <div id="text5">
                <input type="text" name="value" placeholder="Value" class="col-md-12 py-2" />
            </div>
            
            <div>
                <button id="btnAdd">
                    <i class="fas fa-plus"></i> Add
                </button>
            </div>
        </div>
        <div id="filter-cdt">
            <div id="reload">
                <button id="btnReload">Reload</button>
            </div>
        </div>
        <br /><br />
        <div id="D">
            <div id="title3">
                <div>Name</div>
                <div>Start Date</div>
                <div>Expired Date</div>
                <div>Activated Code</div>
                <div>Gifts Quantity</div>
                <div>Scanned</div>
                <div>Used for spin</div>
                <div>Win</div>
            </div>
            <hr />
            <div id="data-campaign-list">
                <div style="font-weight: bold">
                    &ensp;<i class="fas fa-unlock"></i>&nbsp;<u><span style="color: blueviolet">Lucky Draw 1</span></u>
                    <br />
                    &ensp;<i class="fas fa-paper-plane"></i>&nbsp;Active
                </div>
                <div>&ensp;02/08/2020 <br /> &ensp;23:59:49</div>
                <div>&emsp;-</div><br />
                <div style="color:#b3b3ff">&emsp;<u>200.000</u></div><br />
                <div>&emsp;1.500</div><br />
                <div>&emsp;50</div><br />
                <div>&emsp;20</div><br />
                <div>&emsp;10</div><br />
            </div>
            <hr />
            <div id="data-campaign-list">
                <div style="font-weight: bold">
                    &ensp;<i class="fas fa-unlock"></i>&nbsp;<span>Lucky Draw 2</span>
                    <br />
                    &ensp;<i class="fas fa-paper-plane"></i>&nbsp;Active
                </div>
                <div>&ensp;02/08/2020 <br /> &ensp;23:59:49</div>
                <div>&emsp;-</div><br />
                <div style="color:#b3b3ff">&emsp;<u>200.000</u></div><br />
                <div>&emsp;1.000</div><br />
                <div>&emsp;0</div><br />
                <div>&emsp;0</div><br />
                <div>&emsp;20</div><br />
            </div>
        </div>
        <div id="footer">
            <div>
                Show <select style="width: 50px"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select> <i>entries</i>
            </div>
            <div><i>Showing 1 to 2 of 2 entries</i></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
