
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Manage Rules for Gift</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="background-color: #ccccff">
    <div>
        <div id="menu">
            <ul>
                <li><img src="~/Images/logo.png" width="64" height="64" /></li>
                <li><a href="@Url.Action("Dashboard","Main")"><i class="fas fa-home"></i><br />Dashboard</a></li>
                <li><a href="@Url.Action("CampaignManagement","Main")"><i class="fas fa-tags"></i><br />Campaign</a></li>
                <li><a href="#"><i class="fas fa-gift"></i><br />Gift</a></li>
                <li><a href="#"><i class="fas fa-user"></i><br />Customer</a></li>
                <li><a href="#"><i class="fas fa-gear"></i><br />Setting</a></li>
            </ul>
        </div>
        <div class="search-text">
            <input type="search" name="Tìm kiếm" placeholder="Search..." />
            <a href="#" class="search-button">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div id="title1">
            <h6>&nbsp;<i class="fas fa-home"><span style="color:#6600cc"> Dashboard&nbsp;/ Campaign </span>/ Detail</i></h6>
        </div>

        <div id="B">
            <div id="title2">
                <h5>&nbsp;<i class="fas fa-tags"> Campaign LUCKY DRAW 2</i></h5>
            </div>
            <div id="createcp" style="margin-right: 50px">
                <a href="@Url.Action("AddNewRules","Manage")" style="color: #ff3333"><i class="fas fa-plus-circle fa-2x"></i></a>
            </div>
        </div>
        <div id="menu2">
            <div><a href="@Url.Action("ManageDashboard","Manage")">Dashboard</a></div>
            <div><a href="@Url.Action("ManageBarcodes","Manage")">Barcode</a></div>
            <div><a href="@Url.Action("ManageBarcodeHistory","Manage")">Barcode history</a></div>
            <div><a href="@Url.Action("ManageGifts","Manage")">Gifts</a></div>
            <div><a href="@Url.Action("ManageRulesForGift","Manage")">Rules for Gift</a></div>
            <div><a href="@Url.Action("ManageWinner","Manage")">Winners</a></div>
            <div><a href="@Url.Action("ManageSetting","Manage")">Settings</a></div>
        </div>

        <div id="setting">
            <br />
            <div style="font-weight: bold">
                <span style="margin-left: 10px;">QR code setting - URL</span>
                <span style="margin-left: 560px;">Landing Page</span>
            </div>
            <div>
                <span style="margin-left: 10px;"><input type="text" name="qr-code" style="border-style: none; border-bottom: 2px solid blue;" class="col-md-4 py-2" placeholder="https://www.the-qrcode-generator.com"/></span>
                <span style="margin-left: 220px;"><input type="text" name="landing-page" style="border-style: none; border-bottom: 2px solid blue;" class="col-md-4 py-2" placeholder="https://campaign-landing-url.com"/></span>
            </div>
            <br />
            <div style="font-weight: bold; margin-left: 10px;">SMS Text</div>
            <div>
                <span style="margin-left: 10px;"><input type="text" name="sms-text" style="border-style: none; border-bottom: 2px solid blue;" class="col-md-11 py-2"/></span>
            </div>
            <br />
            <div style="font-weight: bold; margin-left: 10px;">Daily Report</div>
            <br />
            <div>
                <span style="margin-left: 10px;"><input type="checkbox" />&ensp;Send report automatically</span>
                <span style="margin-left: 60px;">Time send:</span>
                <span style="margin-left: 5px;"><input type="time" placeholder="Select time"/></span>
                <span style="margin-left: 100px;">Send to mail:</span>
                <span style="margin-left: 5px;"><input type="text" style="border-style: none; border-bottom: 2px solid blue;" class="col-md-4 py-2"/></span>
            </div>
        </div>
    </div>
</body>
</html>
